.articulo{

    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    background: linear-gradient(120deg, rgb(3, 156, 26), rgba(5, 192, 2, 0.74), rgba(255, 255, 255, 0.652), rgb(0, 189, 107));  

}
.articulo:hover{
    background: linear-gradient(120deg, rgb(3, 74, 156), rgba(255, 255, 255, 0.74), rgba(255, 255, 255, 0.652), rgb(0, 35, 189));  

}


article footer{
    text-align: right;
    color: red;
}
figcaption{
    font: italic 10px sans-serif;
}

div{
    width: 200px;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;

}

.leerm_btn{
    background-color: transparent;
    border: none;
    text-decoration:underline;
}

.hide{
    display: none;
}
.show{
    display: block;
}
    
