.articulo{
    background: rgb(52, 29, 178);
    border: 1px solid grey;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 15px;
}
article footer{
    text-align: right;
    color: red;
}

figcaption{
    font: italic 15px sans-serif;
}
#fechaP{
    text-decoration: underline;
    color: white;
}

div{
    width: 200px;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;

}

p[name="parrafo"]{
    font: sans-serif 15px;
    color: bisque;
}
#axd{
    color: blanchedalmond;
}
